Card {
  display: inline;
}


.drinkCard{
  height: 300px;
  width: auto;
  display: inline-block;
  margin: 10px;

}

.drinkCard img {
  width: 200px;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.work-card:hover {
  border: 1px solid black;
}

