$frustration: #e7d3d3;

body {
    background: $frustration;
}

.purple-button {
    background: #fff1cf;
    color: black;
    border: purple;

}

.purple-button:hover {
    background-color: #a24e4e;
    color: white;
}

.header-link {
    text-decoration: none;
}

.card-image {
    width: 250px;
    height: auto;
    margin: auto;
    margin-top: 15px;
}

h1 {
    color: #fff1cf
}

.headerStyle {
    background: #8b2323;
    color: #fff1cf
}



.drink-card-display {
    display: flex;
    flex-wrap: wrap;
}

.single-card {
    padding: 1rem;
    width: 25%;

    @media only screen and (max-width: 1400px) {
        width:33%;
    }

    @media only screen and (max-width: 1200px) {
        width:50%;
    }

    @media only screen and (max-width: 800px) {
        width:100%;
    }
    
    .card {
        height: 100%; 

        .card-image {
            height: 250px;
            object-fit: cover;
            border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .purple-button {
            width: 100%;
        }
    }
}
.choose-type {
    .nav-link {
        background: #fff1cf;
        color: black;
        border: purple;
    }

    .nav-link:hover {
        background-color: #a24e4e;
        color: white;

    }
}
